body {
  font-family: monospace;
  text-align: center;
  font-style: italic: italic;
  background-color: #d7faf2;
}

#selected-park {
  color: green;
  font-size: 3em;
  font-style: normal;
  font-weight: bold;
  color: #5e84be;
  font-variant-caps: petite-caps;
}

#selected-park-info {
  display: none;
}

#selected-park-map {
  display: block;
  margin: 0 auto 1em;
  max-width: 100%;
}
#selected-park-street-view {
  background: #333;
  color: #fff;
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
  text-decoration: none;
}
#selected-park-street-view:hover {
  background: #3f3f3f;
}
